:root {
    --background: #FFF;
    --light-blue: #abd3fe;
    --gray: #ededed;
    --coral: #fc8282;
}

@font-face {
	font-family: 'Satoshi';
	src: url(fonts/Satoshi.ttf);
}

@font-face {
	font-family: 'Gulax';
	src: url(fonts/Gulax.otf);
}

html {
	scroll-behavior: smooth;
    background-color: var(--background);
}

body {
    background-color: var(--background);
    font-family: 'Satoshi';
}

h1 {
    font-family: 'Gulax';
}

.card {
    background-color: var(--light-blue);
}

.list-group-item {
    background-color: var(--gray);
    border: white;
}

.btn-primary {
    background: var(--gray);
    color: var(--coral);
    border-color: var(--coral);
}

.btn:hover {
    background-color: var(--light-blue);
    color: black;
}

.accordion-item {
    background-color: var(--light-blue);
}

.accordion-button {
    background-color: var(--light-blue);
}

.alert-info {
    background-color: var(--light-blue);
}

section {
    padding: 2rem;
    min-width: 100%;
}

#progress-bar {
    --scrollAmount: 0%;

    background: linear-gradient(90deg, hsla(211, 98%, 83%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);

    width: var(--scrollAmount);

    height: 7px;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    margin-top: 29px;
    margin-right: 50px;
    background-color: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul li {
    color: black;
    display: inline-block;
    margin-right: 30px;    
}

nav ul li a {
    color: var(--coral);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--light-blue);
}



