:root {
    --background: #FFF;
    --dark-brown: #5D4032;
    --brown: #836249;
    --light-green: #C9DFE4;
    --green: #ABBF73;
}

html {
	scroll-behavior: smooth;
    background-color: var(--background);
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--dark-brown);
}

h2, h3, h4 {
    color: var(--brown);
}

.card {
    background-color: var(--light-green);
}

.list-group-item, .btn-primary {
    background-color: var(--green);
    color: white;
    border: white;
}

.btn:hover {
    background-color: var(--light-green);
    color: black;
}

.accordion-item {
    background-color: var(--light-green);
}

.accordion-button {
    background-color: var(--light-green);
}

.alert-info {
    background-color: var(--light-green);
}

section {
    padding: 20px;
}

#progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    width: var(--scrollAmount);

    height: 7px;
    position: fixed;
    top: 0;
    left: 0;
}

.jumbotron {
    background: url("img/background-jumbotron.jpg") center center / cover no-repeat;
    color: white;
    padding: 5rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    margin-top: 1rem;
    font-size: 2rem;
}

nav {
    margin-top: 29px;
    margin-right: 50px;
    background-color: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    
}

nav ul li a {
    color: var(--green);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav ul li #contact-me {
    text-decoration: underline;
}

nav ul li a:hover {
    color: var(--light-green);
}



